.pcontainer {
    padding:5%;
    text-align: center;
}
.pitem {
    width:75%;
    display:flex;
    gap:5%;
    text-align:left;
    margin:0% 0% 5% 10%;
}
.darkcontainer {
    width:75%;
    text-align: center;
    margin-left:10%;
}

.lat {
    margin-left:20%;
    width:40%;
}
.rat {
    margin-left:20%;
}
.rat2{
    width:60%;
}
/* Principal Page CSS*/
.pdc {
    width:90%;
    text-align:center;
    margin-left:5%;

    img {
        margin:5% 28% 0% 0%;
    }
 }
.principallist{
    ul {
        list-style-image: url('./src/images/circlefill.svg');
        text-align: left;
        padding-left:30%;
    }
}
/* Styling the HOD*/
.hodcontainer {
    gap:40%;
}
/* Styling the Service*/
.rulecontainer{
    margin-left:30%;
    padding:10%;
}

/*Styling the Budget */
.personcontainer2 {
    gap:10%;
}
.rulecontainer2{
    margin:5% 0% 0% 20%;
    width:60%;
}

/*Styling the PTA*/
.rulecontainer3{
    margin:5% 0% 0% 7%;
}
.personcontainer3{
    display:flex;
    gap: 5%;
    padding:5%;
}
.listdiv {
    ul {
        list-style-image: url('./src/images/hand-thumbs-up.svg');
        text-align: left;
        padding-left: 5%;
    }
}

/* Styling the Download*/
.personcontainer4{
    display:flex;
    gap:25%;
}
.rulecontainer4{
    margin: 10% 0% 0% 60%;
    width:100%;
}
/*Styling the Adam and Campus Wifi*/
.listdiv2 {
    ul {
        list-style-image: url('./src/images/circle.svg');
        text-align: left;
        padding-left: 5%;
    }
}
/* Styling the NSS*/
.nsscontainer{
    margin-left:7%;
}
.nsscontainer1 {
    display:flex;
    gap:20%;
}
/*Styling the Table */
.personcontainer5{
    display:flex;
    gap:5%;
}
.tablecontainer {
    margin-left:20%;
}
.cardcontainer{
    width:50%;
}

/* Styling the Department Pages*/
.departmentcontainer{
    gap:15%;
    width:70%;
}
.physicaldepartment{
    display:flex;
    gap:10%;
}
/* Stylng the ADAM*/
.linkcontainerhover a:hover{
    color:blue;
}
@media only screen and (max-width: 500px) {

    /* Mobile View of About*/
    .pitem,.darkcontainer {
        display:flex;
        flex-direction: column;
    }
    
    .aboutmainimage img{
        height:350px;
    }
    .structure{
        display:flex;
        flex-direction: column;
        width:100%;
        border-bottom:1px rgb(85, 255, 85) solid; 
        
        img{
            width:250px;
            height:200px;
        }
    }
    .lat{
        margin-left:5%;
    }
    .latimg {
        margin-left:5%;
    }
    .rat{
        margin-left:10%;
    }

    /* Responsive Design for Principal */
    .pdc{
        display:flex;
        flex-direction: column;
        padding:5%;

        h5 {
            text-align: left;
        }
    }
    .principalimage img{
        height:60%;
        width:70%;
        margin:5%;
    }
    /* Reesponsive Design for Deans*/
    .personcontainer{
        display:flex;
        flex-direction: column;
        margin-left:15%;
    }
    /* Responsive Design for HoD*/
    .hodcontainer{
        display:flex;
        flex-direction: column;
    }
    /*Budget*/
    .personcontainer2{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    .rulecontainer2{
        margin-left:-10%;
    }
    /* Responsive Design of PTA*/
    .rulecontainer3{
        margin:5% 0% 0% 0%;
    }
    .personcontainer3{
        display:flex;
        flex-direction: column;
        gap:20%;
    }
    /* Styling the AICTE */ 
    .reporttext{
        margin-left:50%;
    }
    .ptaimage img {
        width:350px;
        height:280px;
    }
    /* Responsive Design of Ragging*/
    .raggingimage {
        display:flex;
        flex-direction: column;
        img {
            width:250px;
            height:300px;
        }
    }
    .personcontainer4{
        display:flex;
        flex-direction: column;
        gap:5%;
    }
    .rulecontainer4{
        margin-left:25%;
        width:50%;
    }
    /* Responsive Design for NSS*/
    .nsscontainer1 {
        display:flex;
        flex-direction: column;
        gap:5%;

        img {
            width:250px;
            height:200px;
        }
    }
    .nsscontainer{
        img {
            width:250px;
            height:200px;
        }
    }
    /*Responsive Design for Table */
    .personcontainer5{
        display:flex;
        flex-direction: column;
        gap:15%;
    }
    .tablecontainer{
        margin-left:3%;
    }
    /*Responsive Design for ASME */
    .asmecontactcontainer{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    /*Responsive Design for Department*/
    .departmentcontainer{
        display: flex;
        flex-direction: column;
    }
    .physicaldepartment{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    .cardcontainer{
        width:100%;
    }
    .departmentcollapsecontrol{
        display:block;
    }
    .emailcontainer p{
        width:50%;
}   }
