.pcontainer {
    padding:5%;
    text-align: center;
}
.pitem {
    width:75%;
    display:flex;
    gap:5%;
    text-align:left;
    margin:0% 0% 5% 10%;
}
.darkcontainer {
    width:75%;
    text-align: center;
    margin-left:10%;
}
/* Principal Page CSS*/
.pdc {
    width:100%;
    text-align:center;
    padding-left:5%;

    img {
        margin:5% 28% 0% 0%;
    }
 }
.principallist{
    ul {
        list-style-image: url('./src/images/circlefill.svg');
        text-align: left;
        padding-left:30%;
    }
}
/* Styling the HOD*/
.hodcontainer {
    gap:30%;
}

/*Styling the Budget */
.personcontainer2 {
    gap:10%;
}

/*Styling the PTA*/
.rulecontainer3{
    margin:5% 0% 0% 7%;
}
.personcontainer3{
    display:flex;
    gap: 5%;
    padding:5%;
}
.listdiv {
    ul {
        list-style-image: url('./src/images/hand-thumbs-up.svg');
        text-align: left;
        padding-left: 5%;
    }
}

/* Styling the Download*/
.personcontainer4{
    display:flex;
    gap:20%;
    padding-left:5%;
}
/*Styling the Adam and Campus Wifi*/
.listdiv2 {
    ul {
        list-style-image: url('./src/images/circle.svg');
        text-align: left;
        padding-left: 5%;
    }
}
/* Styling the NSS*/
.nsscontainer{
    margin-left:7%;
}
.nsscontainer1 {
    display:flex;
    gap:20%;
}
/*Styling the Table */
.personcontainer5{
    display:flex;
    gap:5%;
}
.tablecontainer {
    margin-left:20%;
}
.cardcontainer{
    width:50%;
}

/* Styling the Department Pages*/
.departmentcontainer{
    gap:15%;
    width:70%;
}
.physicaldepartment{
    display:flex;
    gap:10%;
}
/* Stylng the ADAM*/
.linkcontainerhover a:hover{
    color:blue;
}
/* Styling the ASME */
.asmeimage{
    margin-left:10%;
}
/*Animation Start */



  
  /* .vision div p, .vision div ul li{
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 5s linear infinite;
  }

  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }*/
/* Fade in Animation */
  .ptaimage img, .asmeimage img,.nssimage img{
    animation: pulseAnimation 1s ease-in-out infinite alternate;
  }

  @keyframes pulseAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }


/* Image Zoom out*/
  .pitem div img:hover{
    animation: popOut 0.5s ease-in-out forwards;
    transform-origin: center;
  }

  @keyframes popOut {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.95);
    }
  }


/* General Text Fade In  for Home Vision Class, About Pitem , Titles of Main Sections*/

.vision div p, .vision div ul li, .pitem div p,.textaniday h2, .textaninight h2, .ncontainer h3 ,.tcontainer p, .emailcontainer p, .dcontainer p,.listdiv2 ul li{
    animation: fadeingeneral 3.5s ease-in-out forwards;
    opacity: 0;
  }

  @keyframes fadeingeneral {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Text Fade For 4 Seconds*/

  .textcontainer4 h6,.textcontainer4 p, .nsscontainer1 p, .textcontainer4 h5 a, .textcontainer5 h6{
    animation: fadeingeneralfour 4s ease-in-out forwards;
    opacity: 0;
  }

  @keyframes fadeingeneralfour {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Text Fade for 6 seconds*/

  .textcontainer6 ol li{
    animation: fadeingeneralsix 6s ease-in-out forwards;
    opacity: 0;
  }

  @keyframes fadeingeneralsix {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Animations for Announcement Bar*/
  .textanidaybar h6, .quicklinks1 h4{
    animation: shake 0.5s ease-in-out infinite;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }

  .textaninightbar h6, .quicklinks1 h4{
    animation: shake 0.5s ease-in-out infinite;
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    50% { transform: translateX(2px); }
    75% { transform: translateX(-2px); }
    100% { transform: translateX(0); }
  }
@media only screen and (max-width: 500px) {

    /* Mobile View of About*/
    .pitem,.darkcontainer {
        display:flex;
        flex-direction: column;
    }
    
    .aboutmainimage img{
        height:350px;
    }
    .structure{
        display:flex;
        flex-direction: column;
        width:100%;
        border-bottom:1px rgb(85, 255, 85) solid; 
        
        img{
            width:250px;
            height:200px;
        }
    }

    /* Responsive Design for Principal */
    .pdc{
        display:flex;
        flex-direction: column;
        padding:5%;

        h5 {
            text-align: left;
        }
    }
    .principalimage img{
        height:60%;
        width:70%;
        margin:5%;
    }
    /* Reesponsive Design for Deans*/
    .personcontainer{
        display:flex;
        flex-direction: column;
        padding-left:10%;
    }
    /* Responsive Design for HoD*/
    .hodcontainer{
        display:flex;
        flex-direction: column;
    }
    /*Budget*/
    .personcontainer2{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    /* Responsive Design of PTA*/
    .rulecontainer3{
        margin:5% 0% 0% 0%;
    }
    .personcontainer3{
        display:flex;
        flex-direction: column;
        gap:20%;
    }
    .ptaimage img{
        width:350px;
        height:280px;
    }
    /* Responsive Design for ASME */
    .asmeimage {
        margin-left:5%;
        img{
            width:300px;
            height:280px;
        }
    }
    /* Responsive Design of Ragging*/
    .raggingimage {
        display:flex;
        flex-direction: column;
        img {
            width:250px;
            height:300px;
        }
    }
    .personcontainer4{
        display:flex;
        flex-direction: column;
        gap:5%;
    }
    /* Responsive Design for NSS*/
    .nsscontainer1 {
        display:flex;
        flex-direction: column;
        gap:5%;

        img {
            width:250px;
            height:200px;
        }
    }
    .nsscontainer{
        img {
            width:250px;
            height:200px;
        }
    }
    /*Responsive Design for Table */
    .personcontainer5{
        display:flex;
        flex-direction: column;
        gap:15%;
    }
    .tablecontainer{
        margin-left:3%;
    }
    /*Responsive Design for ASME */
    .asmecontactcontainer{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    /*Responsive Design for Department*/
    .departmentcontainer{
        display: flex;
        flex-direction: column;
    }
    .physicaldepartment{
        display:flex;
        flex-direction: column;
        gap:10%;
    }
    .cardcontainer{
        width:100%;
    }
    /*Styling the Placement*/
    .nsscontainerimg img {
        width:100%;
        height:130%;
    }
}

