/* Styling for PersonDetails*/
.detailscontainer{
    display:flex;
    gap:15%;
    padding:1% 1% 1% 5%;
    margin-left:5%;

    div img {
        width:150px;
        height:150=px;
        margin-left:35%;
    }
}
/* Styling for Announcements*/

.acontainer{
    width:40%;
    padding:5%;
    margin-left:10%;
}

/*Styling the Floating TExt */

.floatingtextcontainer{
    display:flex;
    gap:2%;
    padding: 0.5% 0% 0.5% 0%;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
}
.floatingtextcontainerbox{
    overflow: hidden;
    max-width: 100vw;
}

/*Animation Start */

    @keyframes marquee {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }
    }

@media only screen and (max-width: 500px){
    /* Person Details*/
    .detailscontainer{
        display:flex;
        flex-direction: column;
        width:60%;
        gap:5%;
        padding:4%;
        margin-left:8%;
        img{
            margin:0% 0% 10% 0%;
        }
    }
    .emailcontainer p{
        width:50%;
    } 

    /*Announcements */
    .acontainer{
        width:80%;
        padding:4%;
        margin-left:10%;
    }
    /* Responsive Design for Image Slider images*/
    .imagesilderimg img {
        height:550px;
    }

    /* Responsive Design for Floating Text*/
    .floatingtextcontainer{
        overflow-x: auto;
        animation: none;
        padding:5%;
        gap:8%;
        white-space: nowrap;
    }
}