/* Styling for PersonDetails*/
.detailscontainer{
    display:flex;
    gap:1%;
    padding:1%;

    div img {
        width:45%;
        height:50%;
        margin-left:35%;
    }
}
/* Styling for Announcements*/

.acontainer{
    width:40%;
    padding:5%;
    margin-left:10%;
}
.aitemcontainer:hover{
    background-color: rgb(160, 160, 160);
}
@media only screen and (max-width: 500px){
    /* Person Details*/
    .detailscontainer{
        display:flex;
        flex-direction: column;
        width:60%;
        gap:5%;
        padding:4%;
        margin-left:15%;
    }

    /*Announcements */
    .acontainer{
        width:80%;
        padding:4%;
        margin-left:10%;
    }
}