.detailscontainer{
    display:flex;
    gap:1%;
    padding:1%;

    div img {
        width:45%;
        height:50%;
        margin-left:45%;
    }
}
@media only screen and (max-width: 500px){
    .detailscontainer{
        display:flex;
        flex-direction: column;
        width:60%;
        gap:5%;
        padding:4%;
        margin-left: 15%;;
    }
}


/* Styling for Announcements*/

.acontainer{
    width:35%;
    padding:5%;
}