.carousel-control-prev span, .carousel-control-next span {
    color:blue;
}
.vision {
    padding:5%;
    gap:10%;
    ul{
        list-style-image: url('./src/images/circlefill.svg');
    }
}
.events {
    display:flex;
    padding:5%;
    gap:5%;
}
.quicklinks1 {
    padding:2%;
    
    .quicklinks2{
        padding:5%;
        a {
            color:inherit;
        }
    }
}
.extrasection {
    text-align: center;
    padding:5% 0% 5% 5%;
    gap:5%;
    .es1,.es2,.es3 {
        width:25%;
        padding:5%;
    }
}
/* Light Mode Hover Animation */
.es1:hover,.es2:hover,.es3:hover{
    border: 3px solid rgb(255, 115, 0);
}
.bannercontainer, .linkscontainer {
    display:flex;
    gap:5%;
    width:80%;
    margin-left:10%;
    padding:2%;
}


@media only screen and (max-width: 500px) {
 /*General Styling */

    body{
        margin:0;
        padding:0;
    }
    .events{
        display:block;

        .latestevents img{
            width:75%;
        }
    }
    .bannercontainer{
        display:flex;
        flex-direction: column;
        padding:20%;   

        div {
            margin-bottom:40%;
        }
    }
    .linkscontainer{
        display:flex;
        flex-direction: column;
        margin-left:10%;
    }
    .extrasection{
        display:flex;
        flex-direction: column;
        padding-left:10%;
        .es1,.es2,.es3{
            width:80%;
            margin-bottom:5%;
        }
    }
    .extrasection, .linkscontainer{
        display:flex;
        flex-direction: column;
    }
    .spacelist div{
        padding:5%;
    }
}

